<div class="search-row-wrapper"
     style="background-image: url({{ asset('images/jobs/ibg.jpg') }}); background-size: cover; background-position: center center;">
    <div class="container text-center">
        <form name="filter" action="{{ path('list') }}" method="GET">
            <input type="hidden" name="posted" value="{{ posted }}"/>
            <div class="col-sm-3 col-sm-offset-3">
                <select class="form-control" name="country" id="country">
                    <option {% if country == "" %} selected="selected" {% endif %} value="">Todas las localidades</option>
                    {% for ciudad in ciudades %}
                        <option {% if country == ciudad.id %} selected="selected" {% endif %} value="{{ ciudad.id }}">{{ ciudad.nombre }}</option>
                    {% endfor %}
                </select>    
            </div>
            <div class="col-sm-3">
                <button class="btn btn-block btn-primary"> Buscar trayectos <i class="fa fa-search"></i></button>
            </div>
        </form>
    </div>
</div>